.sidebar{
    background-color: var(--dark-grey);
    height: 100vh;
    width: 300px;
    padding-left: 3%;
}

.sidebarTitle{
    margin: 0;
    padding-top: 5%;
    padding-left: 3%;
    font-size: 2.5rem;
    margin-bottom: 5%;
}